pkgbase = joule-bin
	pkgdesc = Donate idle compute, earn millijoules, use open-weight AI (prebuilt binary)
	pkgver = 0.1.9
	pkgrel = 1
	url = https://joule.f00.sh/
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = joule
	conflicts = joule
	options = !strip
	source_x86_64 = https://github.com/f00-sh/joule/releases/download/v0.1.9/joule-0.1.9-linux-x86_64.tar.gz
	sha256sums_x86_64 = 856baa9e720dbe5728f10aa4fdb41e6aeccb088c2efd8aeb8180777bb91a011c
	source_aarch64 = https://github.com/f00-sh/joule/releases/download/v0.1.9/joule-0.1.9-linux-aarch64.tar.gz
	sha256sums_aarch64 = 0d64f90d8e2307ff07e1cd001f020697a070504a474aa7b01f37f2b0a5164cd9

pkgname = joule-bin
